{
    "Name": "标准类 for C#",
    "Author": "fireasy",
    "Version": 1,
    "Description": "C# 基本类。",
    "Language": "CSharp",
    "Partitions": [
        {
            "Name": "类",
            "FileName": "class.tt",
            "Output": "{ClassName}.cs",
            "Loop": "Tables",
            "Syntax": "C#"
        }
    ],
    "Groups": []
}