<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataProviders" type="Fireasy.Data.Provider.Configuration.ProviderConfigurationSectionHandler, Fireasy.Data"/>
    </sectionGroup>
  </configSections>
  <fireasy>
    <dataProviders>
      <!--<provider name="OracleDataAccess" type="Fireasy.Data.Provider.OracleAccessProvider, Fireasy.Data"></provider>-->
    </dataProviders>
  </fireasy>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
