{ 
    Name : "Entity Framework 6",
    "Author": "fireasy",
    "Version": 1,
    "Description": null,
    "Language": "CSharp",
	Partitions : 
	[
		{ 
			Name : "实体类",
			FileName: "entity.cshtml",
			Output: "Models\\{ClassName}.cs",
			Loop: "Tables",
			Syntax: "C#"
		},
		{
			Name : "上下文类",
			FileName: "context.cshtml",
			Output: "Data\\DbContext.cs",
			Loop: "None",
			Syntax: "C#"
		}
	]
}